
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="myUserInput" /></div>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="button" id="registerButton" value="注册" />
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/message.js"></script>
}

